<kendo-grid [data]="gridData">
  <kendo-grid-column field="id" title="ID" [width]="200"
                     [style]="{ 'background-color': '#242020', color: '#fff' }"></kendo-grid-column>
  <kendo-grid-column field="projectId" title="Project Id"  [width]="200"
                     [style]="{ 'background-color': '#242020', color: '#fff' }"></kendo-grid-column>
  <kendo-grid-column field="userId" title="User Id" [width]="250"
                     [style]="{ 'background-color': '#242020', color: '#fff' }"></kendo-grid-column>
</kendo-grid>
