<kendo-grid [data]="gridData">
  <kendo-grid-column field="id" title="ID" [width]="50"
                     [style]="{ 'background-color': '#242020', color: '#fff' }"></kendo-grid-column>
  <kendo-grid-column field="emailAddress" title="Email Address" [width]="150"
                     [style]="{ 'background-color': '#242020', color: '#fff' }"></kendo-grid-column>
  <kendo-grid-column field="languageCode" title="Language Code" [width]="50"
                     [style]="{ 'background-color': '#242020', color: '#fff' }"></kendo-grid-column>
  <kendo-grid-column field="registrationId" title="Registration Id" [width]="50"
                     [style]="{ 'background-color': '#242020', color: '#fff' }"></kendo-grid-column>
  <kendo-grid-column field="registrationIdGeneratedTime" title="Registration Id Generated Time" [width]="250"
                     [style]="{ 'background-color': '#242020', color: '#fff' }"></kendo-grid-column>
</kendo-grid>
